[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
seaborn = "*"
matplotlib = "*"
scikit-learn = "==1.7.0"
pyarrow = "*"
ipykernel = "*"
flask = "*"
requests = "*"
gunicorn = "*"
boto3 = "*"
mlflow = "*"

[dev-packages]
requests = "*"

[requires]
python_version = "3.12"
